*,
*,
::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar

.navbar-brand {
    width: 10rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}